

.styled-button{
    z-index: 1;
    button {
        cursor: pointer;
          background: none;
          background-color: #003CFF;
         border: 1px solid transparent;
         border-radius: 50px;
         margin-top: 20px;
         font-size: 16px;
         color: white;
         font-weight: bold;
          padding: 15px 25px;
          z-index: 2;
          
          &:hover{
              background-color: white;
              color: #003CFF !important;
              border: 1px solid white;
              
          }
        }
     
}
.smallbtn{
    button{
        margin-top: 0px;
        padding: 10px 20px !important;
    }
}
.styled-button{
.whitebtn{
    background-color: white;
    color: #003CFF;
    
}
}
.styled-button{
    .outline{
        background: transparent;
        color: white;
        border: 1px solid white;
    }
}
.styled-button{
    .large-btn{
     padding: 15px 70px;
    }
}

.styled-button{
    .primarybtn{
        background: transparent;
        color: #003CFF;
        border: 1px solid #003CFF;
    }
}