.btt-left {
    padding: 20px;
}

.btt-title {
    text-align: left;

    h1 {
        margin-top: 10px;
        margin-bottom: 0;
        font-size: 18px;
        font-weight: 600;
    }

    p {
        margin-top: 0;
        color: #7F8D9B;
        font-size: 12px;
    }
}

.btt-left-header-content {
    border: 1px solid #EFEFEF;
    border-radius: 8px;
    padding: 5px 20px;
}

.btt-left-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btt-left-header-title {
    display: flex;
    align-items: center;

    h1 {
        font-size: 14px;
        font-weight: 400;
        margin-left: 10px;
        margin-top: 15px;
    }
}

.btt-left-header-select {
    select {
        border-radius: 5px;
        border: 0;
        padding: 5px 10px;
        box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.1);
        -webkit-box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.1);
        -moz-box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.1);
    }
}

.btt-stats-pic {
  
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
    
}

.btt-view-all {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: max-content;
    margin: auto;
    margin-top: 20px;

    h1 {
        font-size: 14px;
        font-weight: 500;
        margin-right: 5px;
    }
}