.navbar-items {
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 100%;
    // padding: 15px 0;
    padding-top: 5px;
    position: fixed;
    z-index: 999;
    // top: 0;
}

.navbar-items.active {
    background: white;
    transition: .2s ease-in-out;
    width: 100%;
    padding-bottom: 15px;
    // box-shadow: 0px 0px 12px -5px rgba(0,0,0,1);
    // -webkit-box-shadow: 0px 0px 12px -5px rgba(0,0,0,1);
    // -moz-box-shadow: 0px 0px 12px -5px rgba(0,0,0,1);

    .nav-menu {
        
        a {
            text-decoration: none;
            color: black;
        }
    }

    .login h1 {
        color: black;
    }

    .menu-icon {
        color: black;
    }

    .logo {
        color: black;

        img {
        color: blue !important;
        fill: blue !important;
        color: desaturate($color: blue, $amount: 1);
        }
    }

    .nav-searchbar-button svg {
        fill: black;

    }
    
}

.navbar-logo {
    justify-self: start;
    cursor: pointer;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(8, auto);
    grid-gap: 20px;
    list-style: none;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-right: 10rem;
    margin-left: 10rem;
    font-weight: 600;
    
    a {
        text-decoration: none;
        color: white;
        display: flex;
        align-items: center;
        font-size: 14px;
    }  

    .explore-search-icon {
        width: 20px;
        height: 20px;
        margin-right: 5px;
        margin-top: 2px;
    }
}

ul > li:nth-last-of-type(-n+3) .li-arrow-down-icon {
    display: none;
}

ul > li:nth-last-of-type(+n+2) .explore-search-icon {
    display: none;
}

.nav-searchbar-button {
    background-color: transparent;
    border: 0;
    cursor: pointer;

    svg {
        fill: white;
    }
    
}

.nav-links {
    color: white;
    text-decoration: none;
    padding: .5rem 1rem;
}


.menu-icon {
    color: white;
    display: none;
    cursor: pointer;

    svg {
        font-size: 2.2em;
    }
}

.nav-buttons {
    display: flex;
}





// Responsive
@media screen and (max-width: 1500px) {
    .nav-menu {
        margin-right: 10rem;
        margin-left: 10rem;
    }
}

@media screen and (max-width: 1300px) {
    .nav-menu {
        margin-right: 1rem;
        margin-left: 1rem;
    }
}

@media screen and (max-width: 1100px) {
    .nav-menu, .nav-buttons {
       display: none;
    }
    .menu-icon {
        display: block;
        margin-right: 50px;
    }
    .logo {
        margin-left: 50px;
    }
    .navbar-items {
        justify-content: space-between;
    }
}

@media screen and (max-width: 500px) {
    .menu-icon {
        display: block;
        margin-right: 20px;
    }
    .logo {
        margin-left: 20px;
    }
}
