.statistics {
    background-image: linear-gradient(#0B2237, #135491);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 30px 80px;
}

.statistics-content {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

    .content-image {
        border: 1px solid white;
        background-image: linear-gradient(rgba(#FFFFFF, 0.05), rgba(#FFFFFF, 0.10));
        border-radius: 50px;
        width: max-content;
        margin-right: 15px;

        img {
            padding: 20px;
            margin: auto;
            width: 35px;
            height: 30px;
        }
    }

    .content-info {
        text-align: left;

        h1 {
            margin-bottom: 0;
            font-size: 24px;
            font-weight: 600;
        }

        p {
            margin-top: 5px;
            font-size: 14px;
        }
    }
}




// Responsive
@media screen and (max-width: 992px) {
    .statistics {
        padding: 30px;
    }
}

@media screen and (max-width: 850px) {
    .content-image img {
        width: 25px !important;
        height: 20px !important;
        padding: 15px !important;
    }
    .content-info {

        h1 {
            font-size: 20px !important;
        }

        p {
            font-size: 12px !important;
        }
    }
}

@media screen and (max-width: 768px) {
    .statistics {
        grid-template-columns: 1fr 1fr;
        padding: 0;
    }
    .content-image img {
        width: 20px !important;
        height: 15px !important;
        padding: 10px !important;
    }
    .statistics-content {
        margin: 10px 5px;
    }
    .content-info {

        h1 {
            font-size: 16px !important;
        }

        p {
            font-size: 10px !important;
        }
    }
}
